{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cashout</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cashout.id }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ cashout.amount }}</td>
            </tr>
            <tr>
                <th>Currency</th>
                <td>{{ cashout.currency }}</td>
            </tr>
            <tr>
                <th>Fee</th>
                <td>{{ cashout.fee }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('other_stuff') }}">Back to other stuff</a>
        </li>
    </ul>
{% endblock %}
