<html>
	<img src="{{ asset('https://tipmytip.com/img/logo.png') }}">
	<h2>New message from {{ first_name }} {{ last_name }}:</h2>
	<p>
		-------------------------------------------------<br/>
		Email : {{ email }}<br/>
		Subject : {{ subject }}<br/>
		Message : {{ message }}<br/>
		-------------------------------------------------
	</p>	
</html>
